.geta-quote-form {
    border: 1px solid rgb(131, 130, 130); /* Add a border */
    border-radius: 8px; /* Optional: round the corners */
    padding: 20px; /* Add padding inside the form */
    margin: 0 auto; /* Center the form */
    max-width: 800px; /* Set a maximum width */
    background-color: #fff; /* Optional: background color for the form */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: shadow for better visibility */
}

.geta-submit-button {
    width: 100%;
    max-width: 200px; /* Adjust max-width as needed */
    padding: 10px 20px;
    background-color: #070707; /* Black background */
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 4rem;
    font-weight: bold; /* Bold text */
}

.geta-submit-button:hover {
    background-color: #fcfcfc !important;
    color: #070707 !important;
    border-color: #070707;
}

.geta-input {
    border-color: rgb(131, 130, 130); /* Default border color */
    font-weight: bold; /* Bold text for inputs */
}

.geta-input:hover {
    border-color: black; /* Change border color to black on hover */
}

.geta-select {
    font-weight: bold; /* Bold text for select */
}

/* Add bold text to labels */
.ant-form-item-label > label {
    font-weight: bold; /* Bold text for labels */
}

/* Optional: center the entire form container */
.geta-quote-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
 }
.geta-quote-heading {
    font-weight: bold;
    text-align: center;
}
