.review-carousel {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between reviews */
}

.review-item {
    background: #f0f0f0; /* Light gray background */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Slight shadow */
}
.small-pillows-spec {
    padding: 20px; /* Add padding to the container */
}

 
.tablehead-div {
    display: flex;               
    justify-content: center;    
    align-items: center;         
    height: 50px;              
    background-color: rgb(255,160,21);
    border-radius: 3px;
  }
  
  .tablehead-txt {
    text-align: center;          
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .carousel-main{
    margin-top: 1rem;
  }
  .car-img {
    width: 100%;             
    height: auto;           
    max-height: 400px;      
    object-fit: cover;     
  }
  @media (max-width: 375px) {
    .tablehead-txt {
       font-size: 1rem;
    }
  }