.smallpillow-form {
  background-color: #f9f9f9; /* Optional background color */
}

.column-content {
  padding: 10px; /* Padding inside each column */
  background-color: #ffffff; /* Optional background for columns */
  border: 1px solid #e0e0e0; /* Optional border */
  border-radius: 4px; /* Rounded corners */
}
.center-text-small {
  text-align: center;
}
.image-gallery-small {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap */
    gap: 16px; /* Space between items */

}
  
  .image-card-small {
    flex: 0 0 calc(50% - 16px); /* Each card takes up 50% of the row minus gap */
    box-sizing: border-box; /* Ensure padding is included in width */
  }
  
  .image-wrapper-small {
     border-radius: 4px; /* Rounded corners */
     text-align: center; /* Center align content */
  }
  
  .responsive-image-small {
    max-width: 50%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio */
  }
  
  .image-caption-small {
    margin-top: 8px; /* Space between image and caption */
    font-size: 14px; /* Font size for caption */
  }
  .rigid-txt{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
     
  }
  .txt-rigid-maindiv{
     padding-top: 2rem;
  }
  /* Media query for small screens */
  @media (max-width: 600px) {
    .image-card-small {
      flex: 0 0 100%; /* Stack cards vertically on small screens */
    }
  }
  
