.enjoy-txt{
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 2rem;
}
.image-wrapper {
    margin: 0 10px; /* Adjust margin as needed */
    text-align: center; /* Center text under the image */
  }
  
  