.enjoy-txt {
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 2rem;
}

.image-wrapper {
  text-align: center; /* Center text under the image */
}

.responsive-image1 {
  width: 80%; /* Make the image take the full width of its container */
   height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Rounded corners */
  transition: transform 0.3s; /* Smooth transition */
  margin: 1rem 0; /* Set only vertical margin */
}

.responsive-image1:hover {
  transform: scale(1.05); /* Scale image on hover */
}

@media (min-width: 1024px) {
    .rowgap{
        width: 70rem;
        margin: 0 auto;
    }
}
