.test-review{

}
.test-txt{
    text-align: center;
    font-weight: bold;
    background-color: rgb(249,249,249);
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Full height of the viewport */
    background-color: black; /* Main container color */
}

.outer-div {
    width: 90%; /* Use percentage for responsiveness */
    max-width: 600px; /* Maximum width */
    height: 300px; /* Adjust height */
    background-color: rgb(251,140,0); /* Outer div color */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-6deg); /* Slight tilt */
    border-radius: 2px;
}

.inner-div {
    width: 100%; /* Fill outer div */
    height: 100%; /* Fill outer div */
    background-color: rgb(66,66,66); /* Inner div color */
    border-radius: 2px;
    position: relative; /* Adjust for centering */
    transform: rotate(6deg); /* Slight tilt */
}

.carousel-review-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items horizontally */
    text-align: center; /* Center text */
    color: white; /* Set text color to white */
    height: 100%; /* Fill the height of the parent */
    justify-content: center; /* Center vertically */
    margin-top: 20px; /* Add margin at the top */
}

.review-icon {
    width: 50px; /* Set a fixed width for the image */
    margin-bottom: 10px; /* Space below the icon */
    margin-top: 1rem;
}

.review-text-container {
    max-width: 80%; /* Optional: limit text width for better readability */
}



.review-txt, .review-client-txt {
    margin: 0; /* Remove default margin for cleaner layout */
    margin-top: 1.5rem;
}


@media (max-width: 768px) {
    .outer-div {
        height: 320px; /* Adjust height for smaller screens */
        width: 390px;
    }

    .inner-div {
        height: 300px; /* Adjust height for smaller screens */
        width: 390px;
    }
    .main-container {
        height: 90vh;
    }

}

@media (max-width: 480px) {
    .outer-div {
        height: 300px; /* Further adjustment for very small screens */
    }

    .inner-div {
        height: 300px; /* Further adjustment for very small screens */
    }
    .main-container {
        height: 90vh;
    }
    
}
@media (max-width: 449px) {
    .outer-div {
        height: 320px; /* Adjusted height for very small screens */
        width: 280px;
        transform: rotate(-0deg); /* Slight tilt */
    }

    .inner-div {
        height: 295px; /* Reduced height */
        width: 280px; /* Adjusted width */
        transform: rotate(0deg); /* Slight tilt */
    }
    
    .main-container {
        height: 100vh; /* Full height of the viewport */
    }
    .review-txt, .review-client-txt {
        font-size: 10px;
       }
}

