.sire-txt-main {
  padding: 20px;
}

.learn-txt {
  font-size: 16px;
}
.how-txt{
  text-align: center;
  font-size: 2.1rem;
  font-weight: bold;
}
.sire-txt-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}

.sire-txt-content {
  font-size: 1em;
  margin-bottom: 15px;
}
.img-sire-txt{
  width: 80%;
  border-radius: 2px;
 
}
.col2-sire{
  display: flex;
align-items: center;
justify-content: center;
}