.drawerform-submit-button {
    width: 100%;
    max-width: 200px; /* Adjust max-width as needed */
    padding: 10px 20px;
    background-color: #070707; /* Black background */
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 4rem;
    font-weight: bold; /* Bold text */
}

.drawerform-submit-button:hover {
    background-color: #fcfcfc !important;
    color: #070707 !important;
    border-color: #070707;
}

.drawerform-input {
    border-color: rgb(131, 130, 130); /* Default border color */
    font-weight: bold; /* Bold text for inputs */
}

.drawerform-input:hover {
    border-color: black; /* Change border color to black on hover */
}

/* Add bold text to labels */
.ant-form-item-label > label {
    font-weight: bold; /* Bold text for labels */
}
